html {
  font-family: 'Roboto', 'Helvetica', sans-serif;
  padding-left: 15px;
  padding-right: 15px;

  font-size: 12pt;
}

#NavBar {
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;

  text-transform: lowercase;
  font-weight: 300;

  padding-bottom: 5px;

  border-top: solid 5px #663366;
}

#NavLeft {
  margin-top: 5px;
  align-self: center;
  margin-right: auto;
}

#NavLeft:hover {
  opacity: 0.75;
}

.NavRight {
  align-self: center;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 5px;
  padding-bottom: 5px;

  font-size: 14pt;
}

.NavRight {
  text-decoration: none;
  color: #663366;
}

.NavRight:hover {
  color:#FFFFFF;
  background-color: #663366;
}

#logo_small {
  height: 14pt;
}

.middle {
  padding: 5px;
}

.main {
  background-image: url(img/Background4.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding-top: 50px;
  padding-bottom: 50px;
  padding-left: 50px;
  padding-right: 50px;
  height: 60vh;

  position: relative;

}

.main_sub {
  background-image: url(img/Background4.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding-top: 50px;
  padding-bottom: 50px;
  padding-left: 50px;
  padding-right: 50px;
  height: 10vh;

  position: relative;
}

#logo {
  max-width: 40%;
  opacity: 0.5;

  position: absolute;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

#logo:hover {
  opacity: 0.7;
}

.main_intro {
  background-color: #FFFFFF;
  color: #663366;

  border-top: solid 5px;
  border-color: #663366;
  line-height: 1.5;

  font-weight: 300;
  text-align: justify;

  padding: 5px;
}

.lighter {
  opacity: .5;
  font-weight: 300;
  font-style: normal;
}

.header {
  text-transform: uppercase;
  font-family: 'Alfa Slab One';
  color: #663366;

  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  padding-right: 5px;

  margin-top: 20px;

  border-top: solid 3px #663366;
  border-bottom: solid 1px #663366;

}

.header2 {
  font-weight: 900;

  padding-top: 15px;
  padding-bottom: 2px;
  padding-left: 5px;
  padding-right: 5px;
}

.header3 {
  font-weight: 400;
  font-style: italic;
  opacity: .7;

  padding-bottom: 2px;
  padding-top: 2px;
  padding-left: 5px;
  padding-right: 5px;
}

.info {
  padding-top: 2px;
  padding-bottom: 2px;
  padding-left: 5px;
  padding-right: 5px;
}

.description {
  color: #663366;

  border-top: solid 5px;
  border-color: #FFFFFF;

  font-weight: 300;
  text-align: justify;

  padding: 5px;
}

.gallerycontainer {
  padding-left: 5px;
  padding-right: 5px;

  padding-top: 15px;
}

.gallery {
  width: 350px;
  height: 200px;
  position: relative;

  border-right: solid 20px;
  border-top: solid 10px;
  border-bottom: solid 10px;
  border-color: #FFFFFF;
  float:left;

}

.gallery a {
  text-decoration: none;
}

.gallery img {
  border-bottom: solid 5px;
  border-color: #663366;
  height: 100%;
  width: 100%;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;

  background-color: #663366;
}

.gallery:hover .overlay {
  opacity: .9;
}

.galleryimage {
  display: block;
  width: 100%;
  height: auto;
}

.gallerydesc {
  color: #FFFFFF;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);

  font-weight: 400;
  text-align: center;
}

#contactForm {
  padding-left: 5px;
  padding-right: 5px;
}

.ss-required-asterisk {
  color: #663366;
}

.ss-q-title {
  padding-top: 10px;
  padding-bottom: 2px;
}

.ss-q-short {
  width: 360px;
}

.ss-q-long {
  width: 360px;
}

input[type=submit] {
  color: #FFFFFF;
  font-size: 12pt;
  font-family: 'Roboto', 'Helvetica', sans-serif;

  width: 100px;
  border: 0;
  border-radius: 10px;

  cursor: pointer;
  cursor: hand;

  background-color: #663366;
}

input[type=submit]:hover {
  opacity: 0.75;
}

html, body {
  height: 90%;
}

.content {
  min-height: 100%;
}

.footer {
  text-align: center;
  font-size: 9pt;

  padding-top: 50px;
  padding-bottom: 10px;

  position: relative;
  clear: both;
}

.footer img {
  height: 12pt;
}

.footer img:hover {
  opacity: 0.75;
}
